[*.cs]

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# VSSpell001: Spell Check
dotnet_diagnostic.VSSpell001.severity = suggestion

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true
